/node_modules
/packages/varasto-server/lib/*.js
/packages/varasto-server/node_modules
/packages/varasto-storage/index.d.ts
/packages/varasto-storage/index.js
/packages/varasto-storage/node_modules
*.log
*.tgz
